STREAMDECK_SCRIPT_DIR=./hid_scripts
STREAMDECK_HID_DEVICE=/dev/hidg0
STREAMDECK_SCRIPT_EXTENSIONS=.txt,.hid,.ducky
STREAMDECK_SOURCE_REFRESH_SECONDS=2
STREAMDECK_USB_MOUNT_ROOT=
STREAMDECK_USB_SCAN_DEPTH=2
